body{
    background-color: #F5F5F5;
}
section{
    padding: 0 10%;
}
button{
    text-align: center;
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 0.8rem 1.5rem;
    border-style: none;
}
