.about{
    background-color: #EAF2FD;
}
.about__container{
    padding: 3% 0;
    width: 60%;
}
.about__title{
    font-size: 2.5rem;
}
.about__paragraph{
    font-size: 1.2rem;
    line-height: 1.7rem;
}
.about__container img{
    width: 15%;
}