/* #EAF2FD
<section class="about" id="sobre-mi">
<div class="about__container">
    <h3 class="about__title">Sobre mi</h3>
    <p class="about__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia.  </p>
    <p class="about__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Aenean sit amet felis venenatis, egestas metus vitae, aliquet metus.</p>
    <!-- Si quieres, pon tú firma acá! -->
    <img src="assets\signature.png">
</div>
</section> */

.about{
    background-color: #EAF2FD;
}
.about__container{
    padding: 3% 0;
    width: 60%;
}
.about__title{
    font-size: 2.5rem;
}
.about__paragraph{
    font-size: 1.2rem;
    line-height: 1.7rem;
}
.about__container img{
    width: 15%;
}